<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterProductControl</servlet-name>
        <servlet-class>control.RegisterProductControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadregisterProductControl</servlet-name>
        <servlet-class>control.UploadregisterProductControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadProductControl</servlet-name>
        <servlet-class>control.LoadProductControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homeControl</servlet-name>
        <servlet-class>control.homeControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCustomerControl</servlet-name>
        <servlet-class>control.UpdateCustomerControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchControl</servlet-name>
        <servlet-class>control.SearchControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterControl</servlet-name>
        <servlet-class>control.RegisterControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageProductControl</servlet-name>
        <servlet-class>control.ManageProductControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutControl</servlet-name>
        <servlet-class>control.LogoutControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginControl</servlet-name>
        <servlet-class>control.LoginControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassWord</servlet-name>
        <servlet-class>control.ForgotPassWord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailControl</servlet-name>
        <servlet-class>control.DetailControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteControl</servlet-name>
        <servlet-class>control.DeleteControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryControl</servlet-name>
        <servlet-class>control.CategoryControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductControl</servlet-name>
        <servlet-class>control.AddProductControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageCustomerControl</servlet-name>
        <servlet-class>control.manageCustomerControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddbuyProductControl</servlet-name>
        <servlet-class>control.AddbuyProductControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCartControl</servlet-name>
        <servlet-class>control.ShowCartControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubProductControl</servlet-name>
        <servlet-class>control.SubProductControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveProductControl</servlet-name>
        <servlet-class>control.RemoveProductControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderControl</servlet-name>
        <servlet-class>control.OrderControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoneBillControl</servlet-name>
        <servlet-class>control.DoneBillControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerControl</servlet-name>
        <servlet-class>control.CustomerControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeInformationControl</servlet-name>
        <servlet-class>control.ChangeInformationControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WithdrawalControl</servlet-name>
        <servlet-class>control.WithdrawalControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerByIdControl</servlet-name>
        <servlet-class>control.CustomerByIdControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCustomerControl</servlet-name>
        <servlet-class>control.DeleteCustomerControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvoicesAndProfitsControl</servlet-name>
        <servlet-class>control.InvoicesAndProfitsControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewBillDetailControl</servlet-name>
        <servlet-class>control.viewBillDetailControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddbuyProductHomeControl</servlet-name>
        <servlet-class>control.AddbuyProductHomeControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddProductControl</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryControl</servlet-name>
        <url-pattern>/Category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteControl</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailControl</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassWord</servlet-name>
        <url-pattern>/forgot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginControl</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutControl</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageProductControl</servlet-name>
        <url-pattern>/manageProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterControl</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchControl</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCustomerControl</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homeControl</servlet-name>
        <url-pattern>/homeControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterProductControl</servlet-name>
        <url-pattern>/registerProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadregisterProductControl</servlet-name>
        <url-pattern>/UploadregisterProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadProductControl</servlet-name>
        <url-pattern>/LoadMore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageCustomerControl</servlet-name>
        <url-pattern>/manageCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddbuyProductControl</servlet-name>
        <url-pattern>/AddbuyProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCartControl</servlet-name>
        <url-pattern>/ShowCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubProductControl</servlet-name>
        <url-pattern>/SubProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveProductControl</servlet-name>
        <url-pattern>/RemoveProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderControl</servlet-name>
        <url-pattern>/Order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoneBillControl</servlet-name>
        <url-pattern>/DoneBill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerControl</servlet-name>
        <url-pattern>/Customer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeInformationControl</servlet-name>
        <url-pattern>/ChangeInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WithdrawalControl</servlet-name>
        <url-pattern>/Withdrawal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerByIdControl</servlet-name>
        <url-pattern>/CustomerById</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCustomerControl</servlet-name>
        <url-pattern>/DeleteCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvoicesAndProfitsControl</servlet-name>
        <url-pattern>/InvoicesAndProfits</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewBillDetailControl</servlet-name>
        <url-pattern>/viewBillDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddbuyProductHomeControl</servlet-name>
        <url-pattern>/AddbuyProductHome</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
